body {
    background-image: url("/images/purple_planet_background.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;

    font-family: "Cambria", sans-serif;
    margin: 0;
    padding: 0;

}

/*Split screens left and right containers*/
.split-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    color: white;
    align-items: center;
}


.split-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;

}


header {
    background-color: rgba(102, 51, 153, 0.5);
    color: white;
    text-align: center;
    padding: 1em;
}


footer {
    background-color: rgba(102, 51, 153, 0.5);
    color: white;
    width: 100%;
    padding: 1em;
    text-align: center;

}

.sticky-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

button {
    cursor: pointer;
    background-color: transparent;
    border-color: mediumpurple;
    color: white;
    border-top-style: hidden;
    border-right-style: hidden;
    font-size: 25px;
    font-weight: bold;

}

button:hover {
    background-color: rgba(102, 51, 153, 0.5); /* Change background color on hover */
}


.contact p {
    margin: 0;
}
